.container {

    width: 3000px;
    height: 1000px;
    background-color: cyan;
}


.img {
    height: 200px;
    width: 200px;
}

.top-row {
    height: 1000px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.middle-row {
    height: 1000px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bottom-row {
    height: 1000px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}